/* Root Variables */
:root {
    --lime-green: #32cd32;
    --forest-green: #228b22;
    --emerald-green: #2ecc71;
    --deep-black: #0a0a0a;
    --charcoal-black: #1c1c1c;
    --glossy-black: #2e2e2e;
    --highlight-white: #ffffff;
    --muted-white: #f5f5f5;
    --neutral-gray: #808080;
    --dark-gray: #4d4d44;
    --light-grey: #dcdcdc;

    --gecko-body: linear-gradient(to right, var(--forest-green) 0%, var(--forest-green) 40%, var(--lime-green) 48%, var(--emerald-green) 50%, var(--lime-green) 52%, var(--forest-green) 60%, var(--forest-green) 100%);

    --gecko-eye: radial-gradient(circle at center, var(--deep-black) 40%, var(--charcoal-black) 70%, var(--glossy-black) 100%);
}

/* Global Styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background: var(--muted-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Gecko container */
.gecko {
    position: relative;
    top: 20%;
    left: 50%;
    height: 47vw;
    width: 47vw;
}

/* Gecko body*/
.gecko-body {
    position: absolute;
    background: var(--gecko-body);
    border-radius: 55% 65% 45% 50% / 60% 70% 40% 45%;
    width: 6vw;
    height: 20vw;
    top: 0;
    left: 0;
}

/* Gecko tail */
.gecko-tail {
    position: absolute;
    bottom: 20%;
    left: 3.5%;
    background: var(--gecko-body);
    border-radius: 10% 10% 60% 60% / 5% 5% 80% 80%;
    width: 2.6vw;
    height: 18vw;

}

/* Gecko head */
.gecko-head {
    position: absolute;
    top: -15%;
    left: -2.2%;
    background: var(--gecko-body);
    border-radius: 50% 50% 40% 40% / 60% 60% 40% 40%;
    width: 8vw;
    height: 8vw;
}

/* Gecko eyes */
.left-eye {
    position: absolute;
    top: 30%;
    left: 11%;
    background: var(--gecko-eye);
    border-radius: 50%;
    width: 2vw;
    height: 2vw;
}
.right-eye {
    position: absolute;
    top: 30%;
    left: 63%;
    background: var(--gecko-eye);
    border-radius: 50%;
    width: 2vw;
    height: 2vw;
}

/* Gecko left legs */
.gecko-front-left-leg {
    position: absolute;
    top: -8%;
    left: -18%;
    width: 10vw;
    height: 10vw;
}
.gecko-back-left-leg {
    position: absolute;
    top: 30%;
    left: -18%;
    width: 10vw;
    height: 10vw;
}
.front-left-upperarm {
    position: absolute;
    top: 30%;
    left: 40%;
    background: var(--gecko-body);
    border-radius: 50% 50% 40% 40% / 60% 60% 40% 40%;
    width: 2vw;
    height: 8vw;
    transform-origin: right;
    transform: rotate(-120deg);
}
.back-left-upperarm {
    position: absolute;
    top: -30%;
    left: 50%;
    background: var(--gecko-body);
    border-radius: 50% 50% 40% 40% / 60% 60% 40% 40%;
    width: 2vw;
    height: 8vw;
    transform-origin: right;
    transform: rotate(-60deg);
}


/* Gecko right legs */
.gecko-front-right-leg {
    position: absolute;
    top: -8%;
    left: 8.7%;
    width: 10vw;
    height: 10vw;
}
.gecko-back-right-leg {
    position: absolute;
    top: 30%;
    left: 9.5%;
    width: 10vw;
    height: 10vw;
}
.front-right-upperarm {
    position: absolute;
    top: 30%;
    left: 40%;
    background: var(--gecko-body);
    border-radius: 50% 50% 40% 40% / 60% 60% 40% 40%;
    width: 2vw;
    height: 8vw;
    transform-origin: left;
    transform: rotate(120deg);
}
.back-right-upperarm {
    position: absolute;
    top: -30%;
    left: 34%;
    background: var(--gecko-body);
    border-radius: 50% 50% 40% 40% / 60% 60% 40% 40%;
    width: 2vw;
    height: 8vw;
    transform-origin: left;
    transform: rotate(60deg);
}
