/* Roots and import Styles */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

:root {
    --bg-color: #0e0e1d;
    --paradox-color: #030115; 
    --text-color: #f0ece4;
    --border-color: #2e225f;
    --accent-color: #101f8c;
    --shadow-color: rgba(199, 199, 196, 0.5);
    --font-family: 'Caveat', cursive;
}

/* body and global styles */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-family);
}

/*header and footer styles */
.paradox-header, .footer {
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: var(--accent-color);
    font-size: x-large;
}
.paradox-header {
    border-bottom: 4px solid var(--border-color);
}
.footer {
    border-top: 4px solid var(--border-color);
    margin-top: 2rem;
}

/* intro section styles */
.intro {
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.6;
}

/*Paradox section styles and Grids */
.paradox {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 2rem;
}
.paradox-grid {
    display: grid;
    align-items: center;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "image-before image-after"
                            "text-before text-after";
}
.image-before {
    grid-area: image-before;
}
.image-after {
    grid-area: image-after;
}
.text-before {
    grid-area: text-before;
}
.text-after {
    grid-area: text-after;
}
#paradox1, #paradox2, #paradox3, #paradox4, #paradox5, .closing {
    background-color: var(--paradox-color);
    box-shadow: 0 0 15px var(--shadow-color);
    border-radius: 30px;
    margin: 2rem;
}
.closing {
    padding: 2rem 1rem;
}

/* Paradox Titles */
.paradox-title {
    font-size: 2rem;
    text-decoration: underline;
}

/* Paradox Text */
.text-after, .text-before {
    font-size: 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.closing p {
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    max-width: 80%;
    margin: 0 auto;
}

/* Images */
.image-before, .image-after{
    min-height: 20vh;
}
.image-after img, .image-before img {
    width: 100%;
    min-height: 20vh;
    max-height: 20vh;
    display: block;
    object-fit: cover;
    border: 2px solid var(--border-color);
    box-shadow: 0 0 15px var(--shadow-color);
}
.closing-image img {
    display: block;
    object-fit: cover;
    width: 80%;
    height: 90vh;
    margin: 0 auto;
    border: 2px solid var(--border-color);
    box-shadow: 0 0 15px var(--shadow-color);
}

/* Responsive Design */
@media (min-width: 768px) {
    .paradox-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "text-before image-before"
                            "image-after text-after";
    }
    .paradox-title {
        font-size: 4rem;
    }
    .intro {
        font-size: 2.5rem;
    }
    .text-after, .text-before {
        font-size: 4rem;
    }
    .closing p {
        font-size: 3rem;
    }
    .image-after img, .image-before img {
        min-height: 50vh;
        max-height: 50vh;
    }
    .image-before, .image-after {
        min-height: 50vh;
    }
}
