/* Root variables */
:root {
    /*base colors*/
    --color-darkest: #050510;
    --color-space: #0a0a1a;
    --color-light: #f5f5f5;

    /*Sun colors*/
    --color-sun-core: #fff4a3;
    --color-sun-mid: #ffae00;
    --color-sun-edge: #ff6a00;

    /*Planet base colors*/
    --color-gray-light: #b1b1b1;
    --color-gray-mid: #7a7a7a;
    --color-gray-dark: #5c5c5c;

    --color-sand-light: #e6c27a;
    --color-sand-mid: #d4a75d;
    --color-sand-dark: #b8893f;

    --color-earth-blue: #2e6cff;
    --color-earth-deep: #1b3fa0;
    --color-earth-dark: #0f2a66;
    --color-earth-green: #3fa34d;

    --color-mars-light: #e27b58;
    --color-mars-mid: #b44b2a;
    --color-mars-dark: #7a2d1b;

    --color-jupiter-light: #d9b38c;
    --color-jupiter-mid: #c49a6c;
    --color-jupiter-dark: #a67c52;
    --color-jupiter-spot: #7a2d1b;

    --color-saturn-light: #e8d3a9;
    --color-saturn-mid: #cbb384;
    --color-saturn-dark: #a68c5b;
    --color-saturn-ring: #e7d2bd;

    --color-ice-light: #bde0e0;
    --color-ice-mid: #87c9c9;
    --color-uranus-ring: #a0d1d1;

    --color-neptune-light: #2b4fff;
    --color-neptune-dark: #1b2f99;

    --color-pluto-light: #cfcfcf;
    --color-pluto-dark: #9e9e9e;

    /*Sun*/
    --sun-color: radial-gradient(circle, var(--color-sun-core), var(--color-sun-mid), var(--color-sun-edge));

    /*Planets*/
    --mercury-color: linear-gradient(45deg, var(--color-gray-mid), var(--color-gray-light), var(--color-gray-dark));

    --venus-color: linear-gradient(45deg, var(--color-sand-light), var(--color-sand-mid), var(--color-sand-dark));

    --earth-color: linear-gradient( 45deg, var(--color-earth-green) 0%, var(--color-earth-green) 25%, var(--color-earth-blue) 35%, var(--color-earth-green) 45%, var(--color-earth-deep) 70%, var(--color-earth-dark) 100% );

    --mars-color: linear-gradient(45deg, var(--color-mars-mid), var(--color-mars-light), var(--color-mars-dark));

    --jupiter-color: repeating-linear-gradient(0deg, var(--color-jupiter-light) 0%, var(--color-jupiter-mid) 10%, var(--color-jupiter-dark) 20%);

    --saturn-color: linear-gradient(45deg, var(--color-saturn-light), var(--color-saturn-mid), var(--color-saturn-dark));

    --uranus-color: linear-gradient(45deg, var(--color-ice-light), var(--color-ice-mid));

    --neptune-color: linear-gradient(45deg, var(--color-neptune-light), var(--color-neptune-dark));

    --pluto-color: linear-gradient(45deg, var(--color-pluto-light), var(--color-pluto-dark));

    /* Planet Orbits */
    --mercury-orbit-speed: 40s;
    --venus-orbit-speed: 50s;
    --earth-orbit-speed: 66s;
    --mars-orbit-speed: 76s;
    --jupiter-orbit-speed: 80s;
    --saturn-orbit-speed: 90s;
    --uranus-orbit-speed: 100s;
    --neptune-orbit-speed: 140s;
    --pluto-orbit-speed: 150s;
}

/* @properties */
@property --mercury-orbit {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
@property --venus-orbit {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
@property --earth-orbit {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
@property --mars-orbit {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
@property --jupiter-orbit {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
@property --saturn-orbit {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
@property --uranus-orbit {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
@property --neptune-orbit {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
@property --pluto-orbit {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}


/* @keyframes */
@keyframes mercury-orbit {
    from {
        --mercury-orbit: 0deg;
    }
     to {
        --mercury-orbit: 360deg;
    }
}
@keyframes venus-orbit {
    from {
        --venus-orbit: 0deg;
    }
     to {
        --venus-orbit: 360deg;
    }
}
@keyframes earth-orbit {
    from {
        --earth-orbit: 0deg;
    }
     to {
        --earth-orbit: 360deg;
    }
}
@keyframes mars-orbit {
    from {
        --mars-orbit: 0deg;
    }
     to {
        --mars-orbit: 360deg;
    }
}
@keyframes jupiter-orbit {
    from {
        --jupiter-orbit: 0deg;
    }
     to {
        --jupiter-orbit: 360deg;
    }
}
@keyframes saturn-orbit {
    from {
        --saturn-orbit: 0deg;
    }
     to {
        --saturn-orbit: 360deg;
    }
}
@keyframes uranus-orbit {
    from {
        --uranus-orbit: 0deg;
    }
     to {
        --uranus-orbit: 360deg;
    }
}
@keyframes neptune-orbit {
    from {
        --neptune-orbit: 0deg;
    }
     to {
        --neptune-orbit: 360deg;
    }
}
@keyframes pluto-orbit {
    from {
        --pluto-orbit: 0deg;
    }
     to {
        --pluto-orbit: 360deg;
    }
}
@keyframes twinkle {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}
/* Global styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

/* Scene */
.scene {
    width: 100%;
    height: 100%;
    position: relative;
    background: linear-gradient(to right, var(--color-darkest), var(--color-space));
}

/* Sun */
.sun {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    width: 100vh;
    height: 100vh;
    background: var(--sun-color);
    border-radius: 50%;
    box-shadow: 0 0 100px var(--color-sun-edge);
    cursor: pointer;
    z-index: 9;
}
.sun::after {
    content: attr(data-name);
    position: relative;
    color: var(--color-light);
    font-size: 1.5em;
    font-family: 'Arial', sans-serif;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    background: var(--color-darkest);
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    pointer-events: none;
}
.sun:hover::after {
    opacity: 1;
}

/* Stars */
.star1 {
    position: absolute;
    width: 0.5vh;
    height: 0.5vh;
    background: var(--color-light);
    border-radius: 50%;
    box-shadow: 0 0 12px var(--color-light);
    animation: twinkle 1s ease-in-out infinite alternate;
    right: 10%;
    top: 20%;
    pointer-events: none;
    z-index: 10;
}
.star2 {
    position: absolute;
    width: 0.5vh;
    height: 0.5vh;
    background: var(--color-light);
    border-radius: 50%;
    box-shadow: 0 0 8px var(--color-light);
    animation: twinkle 1.5s ease-in-out infinite alternate;
    right: 50%;
    top: 30%;
    pointer-events: none;
    z-index: 10;
}
.star3 {
    position: absolute;
    width: 1vh;
    height: 1vh;
    background: var(--color-light);
    border-radius: 50%;
    box-shadow: 0 0 5px var(--color-light);
    animation: twinkle 2s ease-in-out infinite alternate;
    right: 20%;
    top: 40%;
    pointer-events: none;
    z-index: 10;
}
.star4 {
    position: absolute;
    width: 0.5vh;
    height: 0.5vh;
    background: var(--color-light);
    border-radius: 50%;
    box-shadow: 0 0 3px var(--color-light);
    animation: twinkle 2.5s ease-in-out infinite alternate;
    right: 25%;
    top: 50%;
    pointer-events: none;
    z-index: 10;
}
.star5 {
    position: absolute;
    width: 0.5vh;
    height: 0.5vh;
    background: var(--color-light);
    border-radius: 50%;
    box-shadow: 0 0 12px var(--color-light);
    animation: twinkle 1s ease-in-out infinite alternate;
    right: 15%;
    top: 60%;
    pointer-events: none;
    z-index: 10;
}
.star6 {
    position: absolute;
    width: 0.5vh;
    height: 0.5vh;
    background: var(--color-light);
    border-radius: 50%;
    box-shadow: 0 0 8px var(--color-light);
    animation: twinkle 1.5s ease-in-out infinite alternate;
    right: 45%;
    top: 70%;
    pointer-events: none;
    z-index: 10;
}
.star7 {
    position: absolute;
    width: 1vh;
    height: 1vh;
    background: var(--color-light);
    border-radius: 50%;
    box-shadow: 0 0 5px var(--color-light);
    animation: twinkle 2s ease-in-out infinite alternate;
    right: 35%;
    top: 80%;
    pointer-events: none;
    z-index: 10;
}
.star8 {
    position: absolute;
    width: 0.5vh;
    height: 0.5vh;
    background: var(--color-light);
    border-radius: 50%;
    box-shadow: 0 0 3px var(--color-light);
    animation: twinkle 2.5s ease-in-out infinite alternate;
    right: 30%;
    top: 90%;
    pointer-events: none;
    z-index: 10;
}
.star9 {
    position: absolute;
    width: 0.5vh;
    height: 0.5vh;
    background: var(--color-light);
    border-radius: 50%;
    box-shadow: 0 0 12px var(--color-light);
    animation: twinkle 1s ease-in-out infinite alternate;
    right: 5%;
    top: 80%;
    pointer-events: none;
    z-index: 10;
}
.star10 {
    position: absolute;
    width: 0.5vh;
    height: 0.5vh;
    background: var(--color-light);
    border-radius: 50%;
    box-shadow: 0 0 8px var(--color-light);
    animation: twinkle 1.5s ease-in-out infinite alternate;
    right: 40%;
    top: 10%;
    pointer-events: none;
    z-index: 10;
}

/* Asteroid Belt */
.asteroid-belt1 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 197vh;
    height: 197vh;
    border: 15px dotted var(--color-sand-dark);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    pointer-events: none;
}
.asteroid-belt2 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 198vh;
    height: 198vh;
    border: 10px dotted var(--color-sand-light);
    border-radius: 50%;
    opacity: 0.5;
    pointer-events: none;
    transform: translate(-50%, -50%) rotate(15deg)
}
.asteroid-belt3 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 197.5vh;
    height: 197.5vh;
    border: 20px dotted var(--color-saturn-mid);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    pointer-events: none;
}

/* Mercury */
.mercury-orbit {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(var(--mercury-orbit));
    animation: mercury-orbit var(--mercury-orbit-speed) linear infinite;
}
.mercury-orbit::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 110vh;
    height: 110vh;
    border: 2px dashed var(--color-gray-light);
    border-radius: 50%;
    transform: translate(-50%,-50%);
    opacity: 0.5;
    pointer-events: none;
}

.mercury {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(53.5vh);
    width: 1.5vw;
    height: 1.5vw;
    background: var(--mercury-color);
    border-radius: 50%;
    box-shadow: 0 0 5px var(--color-gray-light);
    cursor: pointer;
    z-index: 8;
}
.mercury::after {
    content: attr(data-name);
    position: relative;
    color: var(--color-light);
    font-size: 1em;
    font-family: 'Arial', sans-serif;
    top: 50%;
    left: 150%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    background: var(--color-darkest);
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    pointer-events: none;
}
.mercury:hover::after {
    opacity: 1;
}

/* Venus */
.venus-orbit {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(var(--venus-orbit));
    animation: venus-orbit var(--venus-orbit-speed) linear infinite;
}
.venus-orbit::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 135vh;
    height: 135vh;
    border: 2px dashed var(--color-sand-light);
    border-radius: 50%;
    transform: translate(-50%,-50%);
    opacity: 0.5;
    pointer-events: none;
}
.venus {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(65.6vh);
    width: 2vw;
    height: 2vw;
    background: var(--venus-color);
    border-radius: 50%;
    box-shadow: 0 0 5px var(--color-sand-light);
    cursor: pointer;
    z-index: 7;
}
.venus::after {
    content: attr(data-name);
    position: relative;
    color: var(--color-light);
    font-size: 1em;
    font-family: 'Arial', sans-serif;
    top: 50%;
    left: 150%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    background: var(--color-darkest);
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    pointer-events: none;
}
.venus:hover::after {
    opacity: 1;
}

/* Earth */
.earth-orbit {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(var(--earth-orbit));
    animation: earth-orbit var(--earth-orbit-speed) linear infinite;
}
.earth-orbit::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 160vh;
    height: 160vh;
    border: 2px dashed var(--color-earth-blue);
    border-radius: 50%;
    transform: translate(-50%,-50%);
    opacity: 0.5;
    pointer-events: none;
}
.earth {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(78vh);
    width: 2.5vw;
    height: 2.5vw;
    background: var(--earth-color);
    border-radius: 50%;
    box-shadow: 0 0 5px var(--color-earth-blue);
    cursor: pointer;
    z-index: 6;
}
.earth::after {
    content: attr(data-name);
    position: relative;
    color: var(--color-light);
    font-size: 1em;
    font-family: 'Arial', sans-serif;
    top: 50%;
    left: 150%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    background: var(--color-darkest);
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    pointer-events: none;
}
.earth:hover::after {
    opacity: 1;
}

/* Mars */
.mars-orbit {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(var(--mars-orbit));
    animation: mars-orbit var(--mars-orbit-speed) linear infinite;
}
.mars-orbit::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 185vh;
    height: 185vh;
    border: 2px dashed var(--color-mars-mid);
    border-radius: 50%;
    transform: translate(-50%,-50%);
    opacity: 0.5;
    pointer-events: none;
}
.mars {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(91vh);
    width: 2vw;
    height: 2vw;
    background: var(--mars-color);
    border-radius: 50%;
    box-shadow: 0 0 5px var(--color-mars-mid);
    cursor: pointer;
    z-index: 5;
}
.mars::after {
    content: attr(data-name);
    position: relative;
    color: var(--color-light);
    font-size: 1em;
    font-family: 'Arial', sans-serif;
    top: 50%;
    left: 150%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    background: var(--color-darkest);
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    pointer-events: none;
}
.mars:hover::after {
    opacity: 1;
}

/* Jupiter */
.jupiter-orbit {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(var(--jupiter-orbit));
    animation: jupiter-orbit var(--jupiter-orbit-speed) linear infinite;
}
.jupiter-orbit::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 215.5vh;
    height: 215.5vh;
    border: 2px dashed var(--color-jupiter-light);
    border-radius: 50%;
    transform: translate(-50%,-50%);
    opacity: 0.5;
    pointer-events: none;
}
.jupiter {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(105vh);
    width: 4vw;
    height: 4vw;
    background: var(--jupiter-color);
    border-radius: 50%;
    box-shadow: 0 0 5px var(--color-jupiter-light);
    cursor: pointer;
    z-index: 4;
}
.jupiter .jupiter-eye {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 1vw;
    height: 1vw;
    background: var(--color-jupiter-spot);
    border-radius: 50%;
    box-shadow: 0 0 3px var(--color-gray-dark);
}
.jupiter::after {
    content: attr(data-name);
    position: relative;
    color: var(--color-light);
    font-size: 1em;
    font-family: 'Arial', sans-serif;
    top: 50%;
    left: 150%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    background: var(--color-darkest);
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    pointer-events: none;
}
.jupiter:hover::after {
    opacity: 1;
}

/* Saturn */
.saturn-orbit {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(var(--saturn-orbit));
    animation: saturn-orbit var(--saturn-orbit-speed) linear infinite;
}
.saturn-orbit::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 250vh;
    height: 250vh;
    border: 2px dashed var(--color-saturn-light);
    border-radius: 50%;
    transform: translate(-50%,-50%);
    opacity: 0.5;
    pointer-events: none;
}
.saturn {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(122vh);
    width: 3.5vw;
    height: 3.5vw;
    background: var(--saturn-color);
    border-radius: 50%;
    box-shadow: 0 0 5px var(--color-saturn-light);
    cursor: pointer;
    z-index: 3;
}
.saturn .saturn-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 9vw;
    height: 0.5vw;
    background: var(--color-saturn-ring);
    border-radius: 50% / 25%;
    transform: translate(-50%, -50%) rotate(25deg);
    box-shadow: 0 0 3px var(--color-saturn-mid);
}
.saturn::after {
    content: attr(data-name);
    position: relative;
    color: var(--color-light);
    font-size: 1em;
    font-family: 'Arial', sans-serif;
    top: 50%;
    left: 150%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    background: var(--color-darkest);
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    pointer-events: none;
}
.saturn:hover::after {
    opacity: 1;
}

/* Uranus */
.uranus-orbit {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(var(--uranus-orbit));
    animation: uranus-orbit var(--uranus-orbit-speed) linear infinite;
}
.uranus-orbit::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 285vh;
    height: 285vh;
    border: 2px dashed var(--color-ice-light);
    border-radius: 50%;
    transform: translate(-50%,-50%);
    opacity: 0.5;
    pointer-events: none;
}
.uranus {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(140vh);
    width: 3vw;
    height: 3vw;
    background: var(--uranus-color);
    border-radius: 50%;
    box-shadow: 0 0 5px var(--color-uranus-light);
    cursor: pointer;
    z-index: 2;
}
.uranus .uranus-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 7vw;
    height: 0.3vw;
    background: var(--color-uranus-ring);
    border-radius: 50% / 25%;
    transform: translate(-50%, -50%) rotate(86deg);
    box-shadow: 0 0 3px var(--color-uranus-mid);
}
.uranus::after {
    content: attr(data-name);
    position: relative;
    color: var(--color-light);
    font-size: 1em;
    font-family: 'Arial', sans-serif;
    top: 50%;
    left: 150%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    background: var(--color-darkest);
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    pointer-events: none;
}
.uranus:hover::after {
    opacity: 1;
}

/* Neptune */
.neptune-orbit {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(var(--neptune-orbit));
    animation: neptune-orbit var(--neptune-orbit-speed) linear infinite;
}
.neptune-orbit::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 315vh;
    height: 315vh;
    border: 2px dashed var(--color-neptune-light);
    border-radius: 50%;
    transform: translate(-50%,-50%);
    opacity: 0.5;
    pointer-events: none;
}
.neptune {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(155vh);
    width: 2.5vw;
    height: 2.5vw;
    background: var(--neptune-color);
    border-radius: 50%;
    box-shadow: 0 0 5px var(--color-neptune-light);
    cursor: pointer;
    z-index: 1;
}
.neptune::after {
    content: attr(data-name);
    position: relative;
    color: var(--color-light);
    font-size: 1em;
    font-family: 'Arial', sans-serif;
    top: 50%;
    left: 150%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    background: var(--color-darkest);
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    pointer-events: none;
}
.neptune:hover::after {
    opacity: 1;
}

/* Pluto */
.pluto-orbit {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(var(--pluto-orbit));
    animation: pluto-orbit var(--pluto-orbit-speed) linear infinite;
}
.pluto-orbit::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 343vh;
    height: 343vh;
    border: 2px dashed var(--color-pluto-light);
    border-radius: 50%;
    transform: translate(-50%,-50%);
    opacity: 0.5;
    pointer-events: none;
}
.pluto {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(170vh);
    width: 1.5vw;
    height: 1.5vw;
    background: var(--pluto-color);
    border-radius: 50%;
    box-shadow: 0 0 5px var(--color-pluto-light);
    cursor: pointer;
    z-index: 0;
}
.pluto::after {
    content: attr(data-name);
    position: relative;
    color: var(--color-light);
    font-size: 1em;
    font-family: 'Arial', sans-serif;
    top: 50%;
    left: 150%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    background: var(--color-darkest);
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    pointer-events: none;
}
.pluto:hover::after {
    opacity: 1;
}