/* loader base style */
.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-md);
    color: var(--color-text);
}

.loader__title {
    font-size: 1.24rem;
    margin: 0;
}

.loader__description {
    font-size: 0.875rem;
    text-align: center;
    max-width: 20ch;
}

.loader__ring {
    width: var(--loader-size);
    height: var(--loader-size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    
}

.loader__percentage {
    grid-area: 1 / 1;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-text);
}
